.ProductCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: relative;
  width: 18rem;
  height: 25rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.15);
  transition: all 0.4s ease-out;

  &__title {
    text-align: center;
  }
  &__photo {
    height: 60%;
    display: flex;
    align-items: center;
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
  }
  &__countdown {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 4rem;
    position: absolute;
    bottom: 0;

    span {
      font-size: 1.5rem;
    }
    &__finished {
      background-color: lightcoral;
      font-size: 1.2rem;
      padding: 0.4rem;
      border-radius: 5px;
      cursor: not-allowed;
    }
  }
  &__button {
    background-color: lightblue;
    font-size: 1.2rem;
    padding: 0.4rem;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}
.ProductCard:hover {
  transition: all 0.4s ease-out;
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.2);
}
